{:deps {ring/ring {:mvn/version "1.9.5"}
        io.github.jamii/ring-jetty9-adapter {:git/sha "52da1cbd840530d3069328fea1a54cedc69fbd1c"} ;{:local/root "../ring-jetty9-adapter"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        cljsjs/codemirror {:mvn/version "5.44.0-1"}
        rum/rum {:mvn/version "0.12.9"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
        org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :paths ["src" "out"]
 :aliases
 {:build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                       org.clojure/clojurescript {:mvn/version "1.10.773"}}
          :ns-default build}}}